*  {
    box-sizing: border-box;
    margin: 0;
}

/* styles for header */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: #FFFFFF;
}

.logo{
    color: #AA0136;
    font-size: 2rem;
    font-weight: 700;
}
.nav-links{
    display:flex;
    justify-content: center;
    list-style-type: none;
}

.nav-links li{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
}

.nav-links li a{
    color: #646363;  
    text-decoration: none;
}

.header-btn{
    background-color: #AA0136;
    color: #ffffff;
    width: 10rem;
    padding: 16px;
    border-radius: 56px;
    border: none;
    cursor: pointer;
}

.header main{
    height:28.1875rem;
    background-color: #EECCD7;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-text{
    text-align: center;
}
.header-text h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.25px;
    color:#AA0136
}
.header-text h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #131313;
}

.header-text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    color:#131313;
}

.header-img{
    height: 450px;
    width: 341px;
}

.header-img1{
    width: 239px;
    height: 244px;
    align-self: flex-end;
}

form{
    margin-top: 36px;
    display: flex;
    gap: 20px;
}

#email{
    width: 435px;
    font-size: 0.75rem;
    padding: 0.75rem 2rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #717171;
    background-color: #FFFFFF;
    border: 1px solid #787777;
    border-radius: 56px;
}

/* styles for main */
.main{
    height: 75rem;
    background-color: #FFFFFF;
    padding: 20px 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34.5rem;
}

.main .heading{
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #131313;
    padding: 16px 0 8px;
}
hr{
    height: 4px;
    width: 124px;
    background-color: #EECCD7;
    border: none;
}

.main .cards {
    display: flex;
    gap: 2rem;
    padding:1.5rem 0;
}

.card{
    height: 26rem;
    width: 32.525rem;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    padding: 1rem;
    /* background-image: linear-gradient(0deg, #E4E4E4, #E4E4E4); */
    background-color:#FFFFFF;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header img{
    height: 3.2rem;
    width: 3.2rem
}

.float-text{
    float: right;
    padding: 0 10px;
}

.float-text h4{
    padding-bottom: -10px;
}

.title{
    color: #131313;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 8px;
}
.date{
    color: #787777;
    font-size: 14px;
    font-weight: 500;
}

.card-header .menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.info{
    padding: 24px 0 10px;
}

.info img{
    width: 30.625rem;
    height: 10.75rem;
    border-radius: 12px;
}

.info-text{
    padding-top: 1.5rem;
    color:#131313;
}

.info-text h3, .info-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 8px;
}

.info-text p{
    color: #787777;
}

.info-text h3{
    color: #131313;
}

.all .number .cards{
    display: flex;
    gap: 2rem;
    padding:1.5rem 0;
}

.all-card{
    height: 28.187rem;
    width: 23.75rem;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    padding: 1rem;
}

.all-card .info img{
    height: 9.6875rem;
    width: 21.5625rem;
}

.Nav-buttons{
    display:flex;
    justify-content: center;
    gap: 15px;
    margin: 1rem 0;
}

.Nav-buttons button{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 24.5rem;
}

.media{
    grid-column: 1 / span 2;
    background-color: blueviolet;
    padding: 32px 96px;
}

.freq{
    grid-column: 3 / span 5;
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;
}

.media h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: #AA0136;
    margin: 15px 0;
}

.media p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.10000000149011612px;
    margin: 15px 0;
} 

